main{
    display:flex;
}

.ladoEsquerdo{
    width: 50%;
    background-color: rgb(242, 242, 242);  
}
.ladoDireito{
    width: 50%; 
}

/*Posiciona as imagens*/
.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 40px 0;
}
.ladoEsquerdo img{
    width: 180px;
    margin: 30px 0 10px 0;
}

.iconArquivo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ladoDireito img{
    width: 150px;
    margin: 40px 0 60px 0;
}
/*---------------------------*/

h2{
    padding: 0 60px;
    
}

h3{
    padding: 10px 32px;
    font-weight: normal;
    font-size: 20px;
    
}
ul{
    padding: 10px 0 100px 80px;
}

li{
    margin: 20px;
    font-size: 18px;
}
