body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}
/*cores retiradas do figma*/
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #FEA1A3;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    /*link de pagina*/
header a{ 
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    }

    /*texto cabeçalho*/
header h1 {
    color: #000;
    font-size: 1.8rem;
    font-weight: bold;
}

section {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    width: 90%;
    max-width: 1200px;
}

h1 {
    color: #000000;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: 600;
    color: #1a6e25;
    margin-top: 15px;
}

input {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #474646;
    border-radius: 6px;
    font-size: 14px;
    }

button {
    margin-top: 20px;
    background-color: #FEA1A3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

button:hover {
    background-color: #e97c7e;
}

#map {
    flex: 1;
    width: 500px;
    height: 450px;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    background-color: #FEA1A3;
    padding: 15px;
    font-size: 0.9em;
}
